@import "styles.css";

#body-contact {
    background-image: url(../images/mobile-contact.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: var(--ff-text);
    height: 100vh;
    padding: var(--border-padding);
}

h1 a  {
    color: black;
    text-decoration: none;
    margin-bottom: 30px;
}

.fa {
    padding: 0 5px 0 20px;
    color: var(--clr-light);
}

form {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 50vh;
}

textarea, 
button {
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--bs);
    padding: var(--input-padding);
}

textarea {
    width: 60vw;
    outline: none;
    max-width: 500px;
    margin-top: 30px;
}

.footer-contact {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15vh;
    padding: var(--input-padding);
    margin-top: 50px;
    text-align: left;
}

.social-icons ul {
    display:flex;
    list-style: none;
    justify-content: space-between;
    width: 60vw;
}

.social-icons .fa {
    box-shadow: var(--bs);
    border-radius: var(--border-radius);
    color: var(--clr-dark);
    cursor: pointer;
    outline:none;
    padding: 10px;
}

.social-icons .fa:hover {
    background: black;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
                0 10px 10px rgba(0,0,0,0.22);
    color:var(--clr-light);
}

.info-contact span {
  font-weight: var(--fw-bold);  
}